#about-section-container {
  position: relative;
  height: 600px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-pic-div {
  height: 100%;
  width: auto;
  object-fit: cover;
  border-radius: 3px;
  display: block;
}

.about-pic {
  height: 100%;
  width: auto;
  object-fit: cover;
  border-radius: 3px;
  display: block;
}

#about-paragraph-container {
  position: absolute;
  width: 80%;
}

#about-paragraph {
  font-family: "AileronLight";
  font-size: 12px;
  letter-spacing: 2px;
  color: white;
  line-height: 40px;
  text-align: justify;
}