.about-section {
  position: relative;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.about-pic {
  height: 600px;
  object-fit: cover;
  border-radius: 3px;
}