.raleway-photog {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: #ababed;
}

.upload-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 300px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  border-radius: 5px;
}

.upload-area-title {
  font-family: "Raleway";
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.input-box {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.upload-label {
  font-family: "Raleway";
  min-width: 350px;
  min-height: 100px;
  background: #18a7ff0d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dashed #18a7ff82;
  cursor: pointer;
}

.upload-label span {
  font-size: 70px;
  color: #18a7ff
}