@font-face {
  font-family: Futura;
  src: url('/fonts/futura-pt/FuturaCyrillicLight.ttf') format('truetype');
}

.form-div {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 19vh;
}

input,
textarea {
  border-radius: 4px;
  border: None;
  padding: 13px 13px;
  font-family: "Futura";
  font-size: 18px;
  margin-bottom: 20px;
  opacity: 0.8;
}

.submit {
  border-radius: 4px;
  border: None;
  background: black;
  color: #1f9a76;
  border: 1px solid #1f9a76;
  font-family: "Futura";
  font-size: 18px;
  padding: 8px 8px;
  margin: auto;
  width: 200px;
  cursor: pointer;
}

.submit:hover {
  -webkit-backface-visibility: hidden;
  transition: 0.15s ease-in-out;
  background: white;
  color: #1f9a76;
  border: 1px solid #1f9a76;
}

input:focus-within {
  outline: None;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(246, 246, 246, 0.5);
}

textarea:focus-within {
  outline: None;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(246, 246, 246, 0.5);
}