.form-div {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 19vh;
}

input,
textarea {
  border-radius: 10px;
  border: None;
  padding: 12px 12px;
  font-family: "JetBrainsMono";
  font-size: 17px;
  margin-bottom: 20px;
  opacity: 0.8;
}

.submit {
  border-radius: 6px;
  border: None;
  background-image: linear-gradient(#1f9a76, #0f5441);
  color: white;
  font-family: "JetBrainsMono";
  font-size: 17px;
  padding: 8px 8px;
  opacity: 0.8;
  margin: auto;
  cursor: pointer;
}

.submit:hover {
  filter: brightness(120%);
  transform: scale(1.05) perspective(1px);
  -webkit-font-smoothing: subpixel-antialiased;
  transition: 0.2s;
}

input:focus-within {
  outline: None;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.5),
    inset -6px -6px 10px 0 rgba(246, 246, 246, 0.5);
}

textarea:focus-within {
  outline: None;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.5),
    inset -6px -6px 10px 0 rgba(246, 246, 246, 0.5);
}

.submit: :focus-within {
  outline: None;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.5),
    inset -6px -6px 10px 0 rgba(246, 246, 246, 0.5);
}