.syne-font {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
  background-color: white;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 95px;
  position: fixed;
  z-index: 10;
  background-color: white
}

.nav-list {
  z-index: 100;
  list-style-type: None;
  display: flex;
  gap: 30px;
  margin-right: 30px;
}

.logo-div {
  font-family: "Syne";
  font-weight: 740;
  font-size: 35.25px;
  margin-top: 5px;
  padding-left: 15px;
}

.nav-link {
  text-decoration: None;
  color: black;
  font-family: "Raleway";

}

.body-div {
  display: flex;
  flex-direction: row;
  position: relative;
}

#country-container {
  position: fixed;
  width: 117px;
  align-items: center;
  margin-top: 400px;
  margin-left: 5px;
}

.img {
  width: 100%;
  margin-bottom: 1px;
  cursor: pointer;
}

.logo {
  cursor: pointer;
  text-decoration: None;
  color: black;
}

.img:hover {
  opacity: 0.7;
}

.country-button {
  font-family: "Syne";
  border: None;
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  font-family: "Raleway";
  color: black;
  background-color: transparent;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 3px;
}

.country-button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.country-button:focus {
  background-color: black;
  color: white;
}

.photo-grid {
  height: 100%;
  max-width: 1200px;
  columns: 420px;
  column-gap: 5px;
  margin-left: 126px;
  margin-top: 133px;
  margin-right: 5px;
}

@media (min-width: 1330px) {
  .photo-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 680px) {
  #country-container {
    width: 17.2vw;
  }

  .photo-grid {
    margin-left: calc(17.2vw + 5px);
  }

  .logo-div {
    font-size: 5.18vw;
  }
}