@font-face {
  font-family: "Aileron";
  src: url("/fonts/aileron/Aileron-SemiBold.otf");
}

@font-face {
  font-family: "AileronLight";
  src: url("/fonts/aileron/Aileron-Light.otf");
}

html {
  scroll-behavior: smooth;
}

[data-scroll-container] {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.intro-section {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.intro-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  position: absolute;
  top: 250px;
}

.logo {
  text-decoration: None;
  color: #2f3030;
  font-family: "Aileron";
  font-size: 3.5em;
}

.separator {
  width: 30%;
  height: 2px;
  background-color: #2f3030;
  border: none;
  border-radius: 5px;
}

.nav-list-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: 30px;
  padding-right: 40px;
}

.nav-link {
  list-style: none;
  font-family: "AileronLight";
  font-size: 11px;
  text-decoration: none;
  color: #2f3030;
}

.nav-link:hover {
  opacity: 0.6;
}

.dropdown li {
  display: block;
  padding-bottom: 5px;
}

ul.dropdown {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 999;
  margin: 0;
  padding: 0;
  display: none;
  width: 70px;
  padding-top: 4px;
}

ul.dropdown li a {
  text-decoration: none;
  color: black;
  font-family: "AileronLight";
  font-size: 13px;
  text-align: left;
  white-space: nowrap;
  color: #2f3030;
  padding-left: 5px;
}

li:hover ul.dropdown {
  display: block;
}