@font-face {
  font-family: "Aileron";
  src: url("/fonts/aileron/Aileron-SemiBold.otf");
}

[data-scroll-container] {
  overflow: hidden;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0eded;
}

.intro-section {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: block;
}

.intro-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  position: absolute;
  top: 250px;
}

.logo {
  text-decoration: None;
  color: #2f3030;
  font-family: "Aileron";
  font-size: 2.7em;
}

.separator {
  width: 30%;
  height: 2px;
  background-color: #2f3030;
  border: none;
  border-radius: 5px;
}

.nav-list-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: 30px;
  padding-right: 40px;
}

.nav-link {
  list-style: none;
  font-family: "Aileron";
  font-size: 11px;
  text-decoration: none;
  color: #2f3030;
}

.nav-link:hover {
  color: #7e8080;
}

/* ABOUT SECTION */

.about-section {
  height: 50vh;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.about-pic {
  height: 100%;
  border-radius: 3px;
  margin-bottom: 150px;
}

/* CONTACT SECTION */

.contact-section {
  background-color: #010129;
  height: 70vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}