.search {
  --padding: 20px;

  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: #f6f6f6;
  padding-left: var(--padding);
  padding-right: var(--padding);
  opacity: 0.25;
  position: relative;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.5),
    inset -6px -6px 10px 0 rgba(246, 246, 246, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-input {
  font-family: "AntipastoBold";
  font-size: 20px;
  justify-content: center;
  color: #333333;
  margin-right: var(--padding);
  outline: none;
  border: none;
  background: transparent;
}

.search-icon {
  color: #333333;
  transform: scale(2);
  margin-left: 60px;
  cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


@media (max-width: 570px),
(max-height: 400px) {
  .nav-link {
    display: None;
  }

  .menu-button {
    display: block;
  }

  .logo-container {
    margin-left: auto;
    margin-right: auto;
  }

  .social-container {
    visibility: hidden;
  }

  .social-expander-container {
    visibility: visible;
  }
}