body {
  background: linear-gradient(#51697d, #8aa1b5);
  background: black;
  color: white;
  font-family: "Tenor Sans";
}

.info-block {
  height: 480px;
  width: 500px;
  position: relative;
  padding-top: 10px;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 10px;
  border: solid white 2px;
  box-shadow: 3px 3px 20px #191a19;
}

.logo {
  color: white;
  font-size: 2.8rem;
  text-decoration: None;
  position: relative;
}

.mainpage-image {
  position: absolute;
  width: 110%;
  margin-top: -32px;
  margin-left: 90px;
  z-index: 2;
  border-radius: 10px;
  border: solid white 2px;
  box-shadow: 3px 3px 20px #191a19;
}

.info-block-text {
  margin-left: 20px;
  margin-top: 50px;
}

.intro {
  font-size: 0.7rem;
  text-align: justify;
  padding-top: 25px;
  line-height: 20px;
}

.gallery-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 53px;
}

.gallery-button {
  background-image: linear-gradient(#1f9a76, #0f5441);
  color: black;
  font-family: "Tenor Sans";
  font-size: 10px;
  letter-spacing: 1.3px;
  border: None;
  border-radius: 5px;
  padding: 13px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.gallery-button:hover {
  filter: brightness(120%);
  transform: scale(1.1) perspective(1px);
  -webkit-font-smoothing: subpixel-antialiased;
  transition: 0.2s;
}

.gallery-button:active {
  filter: brightness(90%);
  transition: 0.2s;
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 37px;
  margin-left: 955px;
  z-index: 11;
}

/*
.social-links {
  z-index: 10;
} 
*/

.social-logo {
  height: 20px;
  transform: scale(2);
  padding: 3px;
  padding-bottom: 1px;
  padding-right: 3px;
}

.social {
  background-color: white;
  height: 60px;
  width: 60px;
  border: None;
  border-radius: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  box-shadow: 3px 3px 15px black;
  z-index: 10;
  opacity: 0.4;
}

.social:hover {
  color: white;
  opacity: 1;
  transform: scale(1.2);
  transition: 0.2s;
}

.social:active {
  filter: brightness(80%);
  transition: 0.15s;
}

.insta-button:hover {
  background: linear-gradient(#f73678, #9c2869);
}

.github-button:hover {
  background: linear-gradient(#7a7979, #333333);
}

.youtube-button:hover {
  background: linear-gradient(#cc0606, #870303);
}

.mail-button:hover {
  background: linear-gradient(#249ee4, #034fa0);
}

.search {
  --padding: 20px;

  width: max-content;
  display: flex;
  align-items: center;
  padding: var(--padding);
  border-radius: 20px;
  background: #f6f6f6;
  margin-left: 500px;
  margin-top: -473px;
  opacity: 0.8;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.3),
    inset -6px -6px 10px 0 rgba(246, 246, 246, 0.5);
}

.search-input {
  font-family: "Tenor Sans";
  font-size: 20px;
  color: #333333;
  margin-right: var(--padding);
  outline: none;
  border: none;
  background: transparent;
  width: 363px;
}

.search-icon {
  color: #333333;
  transform: scale(2);
  cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}