body {
  background-color: #f0eded;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: visible;
  overflow-x: hidden;
}

.intro-section {
  width: 100%;
  /* height: 100vh; */
  height: 726px;
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
  object-position: 50% 50%;
}

.photo-section {
  position: relative;
}

.navbar {
  top: 0;
}

.heading-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.photo-grid {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 600px;
  margin: auto;
  margin-top: 30px;
}

.image-div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 180px;
  width: 100%;
}

.img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.info-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding-top: 10px;
  font-family: "AileronLight";
  font-size: 12px;
  letter-spacing: 1.2px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.caption-div {
  max-width: 100%;
  overflow-wrap: break-word;
}

.caption {
  font-style: italic;
}

.delete-container {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: -30px;
  display: flex;
}

.delete-icon {
  cursor: pointer;
  transition: transform 400ms ease;
  transform: scale(1.1);
}

.delete-icon:hover {
  transform: scale(1.3);
}

#upload-label,
#notify-label {
  font-family: "AileronLight";
  font-size: 14px;
  width: max-content;
  position: absolute;
  right: 3px;
  top: -25px;
  cursor: pointer;
  letter-spacing: 1.5px;
}

#notify-label {
  left: 3px;
}

#upload-button::after,
#notify-button::after {
  content: "";
  background-color: black;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  position: absolute;
  transition: 250ms ease-out;
}

#upload-button:hover::after,
#notify-button:hover::after {
  width: 100%;
}

.photo-grid-header {
  font-family: "Aileron";
  font-size: 2em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
  color: #2f3030;
}

@media (max-width: 768px) {
  .photo-grid {
    width: 90%;
  }

  .image-div {
    margin-bottom: 80px;
  }

  .info-container {
    font-size: 11px;
    padding: 5px;
  }

  .intro-section {
    height: 40vh;
  }
}

@media (min-width: 1200px) {
  .intro-section {
    height: 100vh;
    max-height: 100vh;
  }
}
