body {
  background-color: #f0eded;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.intro-section {
  width: 100vw;
  height: 700px;
  margin: 0;
  padding: 0;
  display: block;
}

.photo-section {
  position: relative;
}

.navbar {
  top: 0px;
}

.heading-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-div {
  position: relative;
  margin-bottom: 180px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "AileronLight";
  font-size: 11px;
  height: fit-content;
  margin-top: 10px;
  letter-spacing: 1.5px;
}

.caption-div {
  max-width: 50%;
  overflow-wrap: break-word;
}

.caption {
  font-style: italic;
}

.img {
  width: 100%;
  margin-bottom: 180px;
  cursor: pointer;
  /* -webkit-animation: appear 1s ease-out forwards; */
  -webkit-animation-timeline: view();
  -webkit-animation-range: entry 0% cover 40%;
}

.photo-grid {
  display: flex;
  flex-direction: column;
  width: 50vw;
  max-width: 600px;
  margin: auto;
  margin-top: 30px;
}

.delete-container {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: -30px;
  display: flex;
  justify-content: center;
}

#delete-icon {
  cursor: pointer;
  transition: 400ms;
  transform: scale(1.1);
}

#delete-icon:hover {
  transform: scale(1.3);
}

#upload-label {
  font-family: "AileronLight";
  font-size: 14px;
  width: max-content;
  position: absolute;
  right: 3px;
  top: -25px;
  cursor: pointer;
  letter-spacing: 1.5px;
}

#upload-button::after {
  content: "";
  background-color: black;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  position: absolute;
  transition: 250ms ease-out;
}

#upload-button:hover::after {
  width: 100%;
}

.photo-grid-header {
  font-family: "Aileron";
  font-size: 2em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
  color: #2f3030;
}

@media (min-width: 1330px) {
  .photo-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 680px) {
  #country-container {
    width: 17.2vw;
  }

  .photo-grid {
    margin-left: calc(17.2vw + 5px);
  }

  .logo-div {
    font-size: 5.18vw;
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  .img {
    transform: translateX(-80px);
    opacity: 0;
    backdrop-filter: blur(4px);
  }

  .img.animate {
    -webkit-animation: fade-in 1s ease-out forwards;
  }

  @keyframes fade-in {
    to {
      transform: translateX(0px);
      opacity: 1;
      backdrop-filter: blur(0px);
    }
  }
} */

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-80px);
    backdrop-filter: blur(4px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
    backdrop-filter: blur(0px);
  }
}

.image-div {
  opacity: 1;
  transform: translateY(20px);
  /* Start slightly below */
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.image-div.animate {
  opacity: 1;
  transform: translateY(0);
  /* End at its original position */
}