body {
  background-color: #f0eded;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(0px);
  background-color: rgba(0, 0, 0, 0);
  transition: backdrop-filter 0.3s ease-in-out, opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#overlay {
  backdrop-filter: blur(0px);
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0);
  transition: backdrop-filter 0.3s ease-in-out, opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#overlay:not(.is-hidden) {
  backdrop-filter: blur(6px);
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.intro-section {
  width: 100vw;
  height: 95vh;
  margin: 0;
  padding: 0;
  display: block;
}

.photo-section {
  position: relative;
}

.navbar {
  top: 0px;
}

.heading-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img {
  width: 100%;
  margin-bottom: 180px;
  cursor: pointer;
}

.img:hover {
  opacity: 0.7;
}

.photo-grid {
  display: flex;
  flex-direction: column;
  width: 50vw;
  max-width: 600px;
  margin: auto;
  margin-top: 30px;
}

#upload-label {
  font-family: "AileronLight";
  font-size: 14px;
  width: max-content;
  position: absolute;
  right: 3px;
  top: -35px;
  cursor: pointer;
}

#upload-button::after {
  content: "";
  background-color: black;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  position: absolute;
  transition: 250ms ease-out;
}

#upload-button:hover::after {
  width: 100%;
}

.photo-grid-header {
  font-family: "Aileron";
  font-size: 2em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
  color: #2f3030;
}

#upload-modal {
  width: 60vw;
  max-width: 650px;
  height: 46vh;
  min-height: 440px;
  background-color: #f0eded;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform-origin: top left;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  border-radius: 7px;
  pointer-events: none;
}

#upload-modal:not(.is-hidden) {
  transform: translate(-50%, -50%) scale(1);
  /* Scale to normal size */
  opacity: 1;
  /* Fully visible */
  pointer-events: auto;
  /* Allow interactions */
}

#upload-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#upload-header label {
  margin-right: 5px;
  color: #636262;
  cursor: pointer;
}

#upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#location-container {
  width: 90%;
  display: flex;
  gap: 10px;
}

#upload-form input {
  font-family: "AileronLight";
  font-size: 11px;
  padding-left: 10px;
  border: 1px solid grey;
  flex-grow: 1;
  outline: none;
  height: 40px;
  letter-spacing: 1.6px;
  margin-bottom: 10px;
}

#caption {
  width: 88%;
}

#upload-area {
  background-color: white;
  color: #ababab;
  height: 200px;
  width: 90%;
  margin: auto;
  border: 2px dashed #ababab;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "AileronLight";
  font-size: 22px;
  letter-spacing: 3px;
  cursor: pointer;
  transition: 200ms;
}

#upload-area:hover {
  border: 2px dashed #525454;
  color: #525454;
  font-size: 1.2em;
}

#submit {
  font-family: "AileronLight";
  font-size: 11px;
  height: 43px;
  width: 130px;
  border: 3px solid black;
  cursor: pointer;
  letter-spacing: 1.5px;
}

#submit:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

@media (min-width: 1330px) {
  .photo-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 680px) {
  #country-container {
    width: 17.2vw;
  }

  .photo-grid {
    margin-left: calc(17.2vw + 5px);
  }

  .logo-div {
    font-size: 5.18vw;
  }
}