body {
  background-color: #f0eded;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.intro-section {
  width: 100vw;
  height: 95vh;
  margin: 0;
  padding: 0;
  display: block;
}

.photo-section {
  position: relative;
}

.navbar {
  top: 0px;
}

.heading-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img {
  width: 100%;
  margin-bottom: 180px;
  cursor: pointer;
}

.img:hover {
  opacity: 0.7;
}

.photo-grid {
  display: flex;
  flex-direction: column;
  width: 50vw;
  max-width: 600px;
  margin: auto;
  margin-top: 30px;
}

#upload-label {
  font-family: "AileronLight";
  font-size: 14px;
  width: max-content;
  position: absolute;
  right: 3px;
  top: -30px;
  cursor: pointer;
  letter-spacing: 1.5px;
}

#upload-button::after {
  content: "";
  background-color: black;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  position: absolute;
  transition: 250ms ease-out;
}

#upload-button:hover::after {
  width: 100%;
}

.photo-grid-header {
  font-family: "Aileron";
  font-size: 2em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
  color: #2f3030;
}

@media (min-width: 1330px) {
  .photo-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 680px) {
  #country-container {
    width: 17.2vw;
  }

  .photo-grid {
    margin-left: calc(17.2vw + 5px);
  }

  .logo-div {
    font-size: 5.18vw;
  }
}