.menu-button {
  background-color: black;
  border: None;
  cursor: pointer;
  margin-right: 20px;
  display: None;
}

.menu-icon {
  color: white;
  transform: scale(3);
}

.social-expander-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  visibility: hidden;
  z-index: 50;
}

@media (max-width: 570px),
(max-height: 400px) {
  .nav-link {
    display: None;
  }

  .menu-button {
    display: block;
  }

  .social-container {
    visibility: hidden;
  }

  .logo-container {
    margin-left: auto;
    margin-right: auto;
  }

  .social-expander-container {
    visibility: visible;
  }
}