.contact-section {
  background-color: #f0eded;
  height: 500px;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.contact-heading {
  font-family: "Aileron";
  margin-bottom: 25px;
}

.subscriber-div {
  display: flex;
  gap: 10px;
}

#subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscriber-input {
  font-family: "AileronLight";
  font-size: 11px;
  padding-left: 10px;
  border: 1px solid grey;
  outline: none;
  width: 200px;
  height: 40px;
  letter-spacing: 1.3px;
}

.subscribe {
  font-family: "AileronLight";
  font-size: 11px;
  height: 43px;
  width: 130px;
  border: 3px solid black;
  cursor: pointer;
  letter-spacing: 1.3px;
}

.subscribe:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

#email-notice {
  font-family: "AileronLight";
  font-size: 9px;
  letter-spacing: 1.3px;
  visibility: hidden;
}

.social-div {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-bottom: 30px;
}

.follow-heading {
  font-family: "Aileron";
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.follow-separator {
  width: 100%;
  height: 1px;
  background-color: #2f3030;
  border: none;
  border-radius: 5px;
  margin: 5px auto;
}

.social-container-row {
  border: none;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.social-logo {
  height: 40px;
  transform: scale(1.2);
  color: black;
}

.social-logo:hover {
  transform: scale(1.4);
}