.social-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 11;
}

.social-links {
  z-index: 10;
}

.social-logo {
  height: 20px;
  transform: scale(2);
  padding: 3px;
  padding-bottom: 1.5px;
  padding-right: 3px;
}

.social {
  background-color: white;
  height: 45px;
  width: 45px;
  border: None;
  border-radius: 30px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 3px 3px 15px black;
  z-index: 10;
  opacity: 0.4;
}

.social:hover {
  color: white;
  opacity: 1;
  transform: scale(1.3);
  transition: 0.2s;
}

.social:active {
  filter: brightness(80%);
  transition: 0.15s;
}

.insta-button:hover {
  background: linear-gradient(#f73678, #9c2869);
}

.github-button:hover {
  background: linear-gradient(#7a7979, #333333);
}

.youtube-button:hover {
  background: linear-gradient(#cc0606, #870303);
}

.mail-button:hover {
  background: linear-gradient(#249ee4, #034fa0);
}